attrs==19.3.0
et-xmlfile==1.0.1
importlib-metadata==1.5.0
jdcal==1.4.1
more-itertools==8.2.0
openpyxl==3.0.3
packaging==20.1
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.6
PyQt5==5.11.3
PyQt5-sip==4.19.19
PyQt5-stubs==5.11.3.3
pytest==5.3.5
pytest-qt==3.3.0
six==1.14.0
wcwidth==0.1.8
zipp==2.2.0
